$Colors: 
(
    primaryColor: #7c17ff,
    bkgroundMain: #0E0E0E,
    bkgroundSecondary: #191919,
    activeState: #E9E9E9,
    idleState: #646464,
    socionsIdle: #737373,
    socioActive:red,
    bodyColor:#E9E9E9,

);