@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Lexend:wght@100..900&family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap');

$fontFamily:
(
    rootFont: Geist,

    caseStudyFnts:
    (
        bodyFnt: Lexend,
        titlFnt: Literata,
    ),

    fntSize:
    (
        bodyS: 1rem,
        titleS: 2rem,
    )
);