@use '_fonts' as f;
@use '_colors' as c;

*
{
    padding: 0;
    margin: 0;
}
body
{
    background-color: map-get(c.$Colors, bkgroundMain);
    display: flex;
    color: white;
    font-family: map-get(f.$fontFamily, rootFont);
}

.intro-card
{
    display: flex;
    background-color: map-get(c.$Colors, bkgroundSecondary);
    padding: 1.25rem 2.4rem ;
    border-radius: 16px;
    border: #262626 1px solid;
    max-width: 540px;
    font-size: .9rem;
    align-content: center;

.card-details
{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .profile-pic 
    {
        width: 15%;
        border: solid #262626 1px;
        border-radius: 100%;
    }

    .top-details
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
    .quick-connect
    {
        display: flex;
        height: 20px;
        align-items: center;
        gap: 30px;
        font-weight: 300;

        .status::before
        {
            content: "";
            width: 8px;
            height: 8px;
            background-color: rgb(1, 209, 35);
            display: inline-block;
            border-radius: 100%;
            margin-right: 10px;
            border: solid .5px rgb(5, 63, 18);
        }
        
        .status
        {
            color: map-get(c.$Colors, bodyColor);
        }

        button
        {
            border-radius: 100%;
            padding: 1rem;
            border: .2px solid #4b4848;
            cursor: pointer;
            background-color: #313131;

            .fa-solid
            {
                color: wheat;
                text-align: center;
                align-content: center;
            }

        }
    }

    .card-details .socials
    {
        display: flex;
        list-style: none;
        margin-top: .75rem;
        gap: .3rem;

        .fa-brands
        {
            color: map-get(c.$Colors, socionsIdle);
            transition: 1s;
            cursor: pointer;
        }

        .fa-brands:hover
        {
            color: map-get(c.$Colors, activeState);
        }
    }

    .p-card
    {
        line-height: 141.8%;
        color: map-get(c.$Colors, bodyColor);

    }

    h1
    {
        font-size: 19px;
        letter-spacing: -0.5%;
    }

    
}

