@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Lexend:wght@100..900&family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #0A0A0A;
  display: flex;
  color: white;
  font-family: Geist;
  gap: 0.5rem;
  padding: 3.25rem 1.5rem 0rem 1.5rem;
  justify-content: center;
  position: sticky;
}

body .nav-group {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  justify-content: center;
}
body .nav-group .nav {
  display: flex;
  list-style: none;
  flex-direction: column;
  gap: 2.8rem;
  padding: 11rem 0.7rem;
  align-items: center;
  text-align: center;
  color: #E9E9E9;
  font-size: 0.9rem;
  text-transform: uppercase;
  border: #262626 0.5px solid;
  border-radius: 41px;
  background-color: #0F0F0F;
}
body .nav-group .nav li a {
  text-decoration: none;
  color: #646464;
  display: flex;
}
body .nav-group .nav li .groupa:hover {
  color: #E9E9E9;
  background-color: red;
}
body .nav-group .nav li .groupa {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  align-items: center;
  transition: 1s;
}
body .nav-group .nav li .groupa p {
  order: 1;
  font-size: 0.6rem;
}

body .side-panel-1 .intro-card {
  background-color: #191919;
  padding: 1.25rem 2.4rem;
  border-radius: 16px;
  border: #262626 1px solid;
  max-width: 540px;
  font-size: 0.9rem;
}
body .side-panel-1 .intro-card .card-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .side-panel-1 .intro-card .card-details .profile-pic {
  width: 15%;
  border: solid #262626 1px;
  border-radius: 100%;
  margin-bottom: 0.4rem;
}
body .side-panel-1 .intro-card .card-details .quick-connect {
  display: flex;
  height: 20px;
  align-items: center;
  gap: 30px;
  font-weight: 300;
}
body .side-panel-1 .intro-card .card-details .quick-connect .status {
  color: #E9E9E9;
  font-weight: 240;
}
body .side-panel-1 .intro-card .card-details .quick-connect .status::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: rgb(1, 209, 35);
  display: inline-block;
  border-radius: 100%;
  margin-right: 10px;
  border: solid 0.5px rgb(5, 63, 18);
}
body .side-panel-1 .intro-card .card-details .quick-connect button {
  border-radius: 100%;
  padding: 0.8rem;
  border: 0.2px solid #4b4848;
  cursor: pointer;
  background-color: #313131;
  transition: 0.5s;
}
body .side-panel-1 .intro-card .card-details .quick-connect button .fa-solid {
  color: wheat;
  text-align: center;
  align-content: center;
}
body .side-panel-1 .intro-card .card-details .quick-connect button:hover {
  transform: scale(1.1);
}
body .side-panel-1 .intro-card .socials {
  display: flex;
  list-style: none;
  margin-top: 0.75rem;
  gap: 0.3rem;
}
body .side-panel-1 .intro-card .socials .fa-brands {
  color: #737373;
  transition: 1s;
  cursor: pointer;
  margin-top: 1rem;
}
body .side-panel-1 .intro-card .socials .fa-brands:hover {
  color: #E9E9E9;
}
body .side-panel-1 .intro-card .p-card {
  line-height: 141.8%;
  color: #E9E9E9;
}
body .side-panel-1 .intro-card h1 {
  font-size: 19px;
  letter-spacing: -0.5%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

body .work-history {
  background-color: #191919;
  padding: 2.4rem 2.4rem;
  max-width: 540px;
  border-radius: 16px;
  border: #262626 1px solid;
  margin-top: 2.2rem;
}
body .work-history .work-pan .work-his-details {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  font-size: 0.9rem;
}
body .work-history .work-pan .work-his-details .head-details {
  display: flex;
  align-items: center;
}
body .work-history .work-pan .work-his-details .head-details h3 {
  margin-bottom: 0.3rem;
}
body .work-history .work-pan .work-his-details .head-details img {
  max-width: 15%;
  border-radius: 16%;
  margin-right: 1rem;
}
body .work-history .work-pan .work-his-details p {
  letter-spacing: 2%;
  line-height: 150%;
}
body .work-history .work-pan .work-his-details .start-date {
  color: #9E9E9E;
  font-size: 0.8rem;
}
body .work-history .work-pan .work-his-details .name-date-group {
  display: flex;
  align-items: center;
  margin-top: 1.4rem;
  justify-content: space-between;
}
body .work-history .work-pan .work-his-details .name-date-group .btn {
  border-radius: 100%;
  padding: 0.8rem;
  border: 0.2px solid #4b4848;
  cursor: pointer;
  background-color: #313131;
  transition: 0.7s;
}
body .work-history .work-pan .work-his-details .name-date-group .btn .fa-solid {
  color: rgb(192, 192, 192);
  text-align: center;
  align-content: center;
}
body .work-history .work-pan .work-his-details .name-date-group .btn:hover {
  background-color: #444444;
}
body .work-history h2 {
  font-size: 1.2rem;
  letter-spacing: 2%;
  margin-bottom: 1rem;
}
body .work-history .line-seperate {
  display: block;
  background-color: rgba(82, 77, 77, 0.4039215686);
  width: 100%;
  height: 0.1px;
  border-radius: 4%;
  margin-top: 0.8rem;
}

body .side-panel-2 {
  margin-left: 2.8rem;
  width: 1250px;
  background-color: #191919;
  padding: 1.25rem 2.4rem;
  border-radius: 20px;
  border: #262626 1px solid;
  padding: 0rem;
  height: 940px;
}
body .side-panel-2 .upper-tab {
  display: flex;
  border-bottom: solid rgba(82, 77, 77, 0.4039215686) 3px;
  width: 100%;
  margin-top: 0.8rem;
  justify-content: space-between;
  align-items: center;
}
body .side-panel-2 .upper-tab button {
  border-radius: 100%;
  padding: 0.8rem;
  border: 0.2px solid #4b4848;
  cursor: pointer;
  background-color: #313131;
  transition: 1s;
  margin-bottom: 1rem;
  margin-right: 1rem;
  text-align: center;
  color: wheat;
}
body .side-panel-2 .upper-tab button:hover {
  transform: rotate(45deg);
  background-color: #444444;
}
body .side-panel-2 .upper-tab h2 {
  margin-bottom: 1rem;
  margin-left: 1rem;
  font-size: 1.2rem;
  letter-spacing: -2%;
}
body .side-panel-2 .thumbnail-small .thumbnail-details {
  position: absolute;
  height: 501px;
  width: 527px;
  background: rgba(99, 99, 114, 0);
  background: linear-gradient(178deg, rgba(232, 23, 23, 0.233) 0%, rgba(255, 21, 21, 0.582) 100%);
  object-fit: fill;
  border-radius: 22px;
  padding: 1rem 2rem;
  margin: 0.7rem 0.7rem;
}
body .side-panel-2 .thumbnail-small .thumbnail-details .title-thumbnail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3rem;
}
body .side-panel-2 .thumbnail-small .thumbnail-details .title-thumbnail button {
  background-color: transparent;
  border: none;
  padding: 0rem;
}
body .side-panel-2 .thumbnail-small .thumbnail-details .title-thumbnail button .arrow-btn {
  transition: 1s;
}
body .side-panel-2 .thumbnail-small .thumbnail-details .title-thumbnail button:hover {
  background-color: blue;
}
body .side-panel-2 .thumbnail-small .thumbnail-details .title-thumbnail button:hover .arrow-btn {
  transform: translate(30%, 0);
}
body .side-panel-2 .thumbnail-small .thumbnail-details .title-thumbnail h4 {
  font-weight: 500;
}
body .side-panel-2 .thumbnail-small .thumbnail-details p {
  font-size: 0.9rem;
  color: #E9E9E9;
}
body .side-panel-2 .thumbnail-details:hover {
  text-decoration: underline;
}
body .side-panel-2 .thumbnail-details:hover .title-thumbnail button .arrow-btn {
  transform: translate(30%, 0);
}/*# sourceMappingURL=style.css.map */